body {
	padding: 50px;
}
.container1, .container2 {
	background-color: lightgrey;
}
.container1 {
	width: 100%;
	min-height: 250px;
	background: lightgrey url("images/image.png") center center no-repeat;
}

.container2 {
	position: relative;
	min-height: 250px;
}

.container2 img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -170px;
}
