body {
	padding: 50px;
}

table {
	border: 2px solid lightgrey;
}

th, td {
	border: 1px solid lightgrey;
	padding: 10px;
} 
th {
	text-align: left;
}
tr:nth-child(even) {
	background-color: darkgrey;
}
