body {
	padding: 50px;
}

.container {
	background-color: lightgrey;
	padding: 25px;
}

.container1 {
	text-align: center;
	padding: 0 50px;
}

.container2 p {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}

.container3 img {
	display: block;
	margin: 0 auto;
}