body {
	padding: 50px;
}

header {
	background-color: lightgrey;
	padding: 25px;
}

header h2 {
	color: green;
}

#backtotop {
	background-color: black;
	bottom: 35px;
	color: white;
	display: inline-block;
	font-weight: bold;
	font-size: 13px;
	padding: 8px 16px;
	position: fixed;
	right: 35px;
	text-transform: uppercase;
}

#backtotop:hover {
	background-color: lightgrey;
	color: blue;
	border: 3px solid black;
}