body {
	padding: 50px;
}

label {
	display: block;
}

input[type="text"], textarea {
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	padding: 5px;
}

input[type="text"]:hover, textarea:hover {
	box-shadow: 0 0 3px grey;
	transition: box-shadow .2s ease-in-out;
}

input[type="text"]:focus, textarea:focus {
	box-shadow: 0 0 3px grey;
	border-color: blue;
}
