body {
	padding: 50px;
}

.arrow {
	height: 0;
	width: 0;
	margin-bottom: 25px;
}

.up {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid green;
}

.left {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 10px solid blue;
}

.down {
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid gray;
}

.right {
	border-top: 30px solid transparent;
	border-bottom: 30px solid transparent;
	border-left: 50px solid black;

	-webkit-transform: rotate(180deg);
}